.App {
  display: grid;
  place-items: center; /* centers both horizontally and vertically */
  grid-template-rows: auto 1fr; /* Prevents vertical centering */
  margin: 0 auto;

  width: 100vh;
  padding: 20px;
  /* display: flex;
  flex-direction: column;
   justify-content: center;
   align-items: center;*/
  z-index: 1;
}

.AddingPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  width: 60%;
  height: 300px;
  border-radius: 20px;
  margin-top: 20px;
}

.AddingPassword button,
input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin: 10px;
  padding-left: 15px;
  font-size: 17px;
}

input:hover {
  background-color: lightgray;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: #061233;
  color: white;
}

.copy-main {
  cursor: pointer;
  padding-right: 3px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Position relative to the .password element */
  right: 3%; /* Align to the right edge */
  bottom: 23%; /* Align to the bottom edge */
  border-radius: 5px;
  width: 40px; /* Adjust size */
  height: 40px;
  background-color: transparent;
}

.btn-ignore {
  background-color: transparent;
  border: none;
  width: 50px; /* Adjust size */
  height: 40px;
  border-radius: 5px;
  position: absolute; /* Change to relative, fixed, or sticky as needed */
  top: 20px; /* Adjust vertical position */
  right: 20px;
}

.btn-ignore:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.open-modal-btn {
  z-index: 999;
}

.Passwords {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.password {
  width: 400px;
  height: 70px;
  background-color: black;
  border-radius: 7px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  position: relative;
}

/*Password strength*/
.strength-container {
  width: 250px;
  min-height: 50px;
  padding: 15px 15px;
  border-radius: 5px;
  position: fixed;
  top: 19%;
  left: 62%;
  border: thin solid #040f4e;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.strength-container .title {
  font-size: 14px;
  font-weight: bold;
  color: #777;
  line-height: 20px;
}

.strength-text {
  font-size: 13px;
  display: inline-block;
  /*margin-left: 5px;*/
}

.strength-bar-wrapper {
  width: 100%;
  height: 4px;
  background-color: #e9e9e9;
  border-radius: 3px;
}

.strength-description {
  font-size: 14px;
  color: #777;
  margin-top: 20px;
  line-height: 18px;
}

i {
  font-style: normal;
  color: red;
  font-weight: bold;
}

/*Password Generator*/

.container {
  background-color: rgb(114, 153, 167);
  /*align-items: center;
  justify-content: center;*/
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px 70px 70px rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 350px;
  border-radius: 5px;

  text-align: center;

  position: fixed;
  /* Removed right and bottom properties */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element */
  z-index: 2;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.result-container {
  background-color: rgba(226, 218, 218, 0.4);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1.2px;
  padding: 5px 10px;
  height: 40px;
  width: 90%;
}

.result-container #result {
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.4);
  height: 30px;
  width: 370px;
  border-radius: 5px;
}

.result-container .btn {
  font-size: 20px;
  padding-top: 2px;
  position: absolute;
  top: 9.8px;
  right: 5px;
  height: 28px;
  width: 30px;
}

.btn {
  background-color: #fff;
  cursor: pointer;
  padding-right: 3px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 4px; /* Adjust size */
  height: 4px;
}

.btn-large {
  display: block;
  width: 100%;

  background-color: #fff;
  cursor: pointer;
  padding-right: 3px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 4px; /* Adjust size */
  height: 4px;
}

.setting {
  font-size: large;
  text-align: left;
  display: flex; /* Add display: flex for horizontal arrangement */
  align-items: center; /* Center vertically */
}

.setting label {
  flex-basis: 50%; /* Equal width for labels and checkboxes */
}

.pl {
  width: auto;
}

.setting input[type="checkbox"] {
  transform: scale(0.7);
}

input[type="checkbox"] {
  margin-right: -3.1375px;
}

.clipboard {
  width: "10px";
  height: "10px";
  margin-left: "5px";
}

img {
  width: 64%;
  height: auto;
  object-fit: cover;
}
