.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddingPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  width: 60%;
  height: 300px;
  border-radius: 20px;
  margin-top: 20px;
}

.AddingPassword button,
input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin: 10px;
  padding-left: 15px;
  font-size: 17px;
}

input:hover {
  background-color: lightgray;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: #061233;
  color: white;
}

.Passwords {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.password {
  width: 400px;
  height: 70px;
  background-color: black;
  border-radius: 7px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/*Password strength*/
.strength-container {
 width: 250px;
  min-height: 50px;
  padding: 15px 15px;
  border-radius: 5px;
  position:fixed;
  top: 19%;
  left: 62%;
  border:  thin solid #040f4e;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.strength-container .title {
  font-size: 14px;
  font-weight: bold;
  color: #777;
  line-height: 20px;
}

.strength-text {
  font-size: 13px;
  display: inline-block;
  /*margin-left: 5px;*/
}

.strength-bar-wrapper {
  width: 100%;
  height: 4px;
  background-color: #e9e9e9;
  border-radius: 3px;
}

.strength-description {
  font-size: 14px;
  color: #777;
  margin-top: 20px;
  line-height: 18px;
}

i {
  font-style: normal;
  color: red;
  font-weight: bold;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
